<div class="footer-content">
  <ng-container *ngIf="title === 'Vacancies'; else defaultContent">
    <h2>{{ title }}</h2>
  </ng-container>
  <ng-template #defaultContent>
    <div class="image-container">
      <img
        src="assets/images/footer-people-on-street-zoomed-in-quicksilver.jpg"
        style="
          background-image: url(assets/images/footer-people-on-street-zoomed-in-quicksilver.jpg);
        "
      />
      <div class="footer-wrapper">
        <div class="footer-grid-item">
          <span class="fa-solid fa-location-dot fa-2xl"></span>
          <h2>ANSCHRIFT</h2>
          <p>
            Stupine B2<br />
            75000 Tuzla
          </p>
        </div>
        <div class="footer-grid-item">
          <span class="fas fa-phone fa-2xl"></span>
          <dl>
            <h2>TELEFON</h2>
            <p>
              <a href="tel:0038761538229">Mobil: 00387 - 61 538 229</a>
            </p>
          </dl>
        </div>
        <div class="footer-grid-item">
          <span class="fa-solid fa-envelope fa-2xl"></span>
          <section>
            <header>
              <h2>KONTAKT</h2>
            </header>
            <p>
              <a href="mailto:adnan.civic@alphamedical-bih.com"
                >adnan.civic@alphamedical-bih.com</a
              >
            </p>
          </section>
        </div>
      </div>
    </div>
  </ng-template>
</div>
