<div class="footer-content">
  <ng-container *ngIf="title === 'Vacancies'; else defaultContent">
    <h2>{{ title }}</h2>
  </ng-container>

  <ng-template #defaultContent>
    <footer>
      <div class="footer-container">
        <img
          src="assets/images/footer-people-on-street-zoomed-in-quicksilver.jpg"
          alt="Logo"
          class="Team Intro"
        />
        <div class="address">
          <!-- Address section -->
          <div>
            <span class="label">Address:</span>
            <address>
              Heckenerstrasse 2a<br />
              53578 Windhagen
            </address>
          </div>
        </div>

        <div class="phones">
          <!-- Phones section -->
          <dl>
            <dt>Phone:</dt>
            <dd><a href="tel:026459774568">02645-9774568</a></dd>
            <dt>Mobile:</dt>
            <dd><a href="tel:015159079970">0151 - 59 07 99 70</a></dd>
          </dl>
        </div>

        <div class="contact">
          <section>
            <header>
              <h2>Contact</h2>
            </header>
            <div class="content">
              <p>
                <a href="mailto:frank.eggert@ekpartner.de"
                  >frank.eggert@ekpartner.de</a
                >
              </p>
            </div>
          </section>
        </div>
      </div>

      <div class="footer-links">
        <nav>
          <ul>
            <li><a href="#">Imprint</a></li>
            <li><a href="#">Terms and Conditions</a></li>
            <li><a href="#">Data Protection</a></li>
          </ul>
        </nav>
      </div>
    </footer>
  </ng-template>
</div>
