<div class="footer-content">
  <ng-container *ngIf="title === 'Vacancies'; else defaultContent">
    <h2>{{ title }}</h2>
  </ng-container>
  <ng-template #defaultContent>
    <div class="image-container">
      <img
        src="assets/images/footer-people-on-street-zoomed-in-quicksilver.jpg"
        controls="false"
        autoplay
        loop
      />
      <div class="footer-wrapper">
        <div>
          <h2>ADDRESS</h2>
          Stupine B2<br />
          75000 Tuzla
        </div>
        <div>
          <dl>
            <h2>MOBILE</h2>
            <dd>
              <a href="tel:0038761538229">00387 - 61 538 229</a>
            </dd>
          </dl>
        </div>
        <div>
          <section>
            <header>
              <h2>CONTACT</h2>
            </header>
            <p>
              <a href="mailto:adnan.civic@alphamedical-bih.com"
                >adnan.civic@alphamedical-bih.com</a
              >
            </p>
          </section>
        </div>
      </div>
    </div>
  </ng-template>
</div>
