@-ms-viewport {
  width: device-width;
}
.image-text {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 24px;
  text-align: center;
  z-index: 1;
  margin-right: 10px;
}
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.image-container img {
  display: block;
  width: 100%;
  height: 500px;
}
.image-container .image-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 24px;
  text-align: center;
  display: inline;
}
a {
  color: #fff;
}
.footer-wrapper {
  display: inline-flex;
}
