<app-jumbotron [title]="'For Applicants'"></app-jumbotron>
<div class="centered-container">
  <h2>PFLEGEKRÄFTE</h2>
  <h2>MIT UND OHNE BERUFSANERKENNUNG</h2>
  <p>
    Sie sind Krankenschwester oder Krankenpfleger und suchen einen neuen Job in
    Deutschland? Wir machen das für Sie.
  </p>
  <div class="list-container">
    <p class="list">sprachliche Vorbereitung</p>
    <p class="list">den passenden Job finden</p>
    <p class="list">Antrag auf Berufsanerkennung</p>
    <p class="list">Unterstützung bei der Wohnraumsuche</p>
  </div>
  <p style="margin-bottom: 3em">
    Gerne informieren wir Dich zum Thema „Arbeiten, Leben und Lernen in
    Deutschland. Du kannst hier leicht mit uns in
    <a href="tel:0038761538229">Kontakt</a> treten, schreiben Sie uns oder
    bewerben Sie sich
    <a href="mailto:adnan.civic@alphamedical-bih.com">hier</a>.
  </p>
  <p style="margin-bottom: 3em; text-transform: uppercase; color: #ffffba">
    Wir freuen uns auf Dich!
  </p>
  <p>Dein Hello-Alpha Medical team!</p>
</div>
<app-footer [title]="'Regular Title'"></app-footer>
