<app-jumbotron [title]="'For Applicants'"></app-jumbotron>
<div class="centered-container">
  <h2>PFLEGEKRÄFTE</h2>
  <h3>MIT UND OHNE BERUFSANERKENNUNG</h3>
  <p>
    Sie sind Krankenschwester oder Krankenpfleger und suchen einen neuen Job in
    Deutschland? Wir machen das für Sie.
  </p>
  <div class="list-container">
    <p class="list">sprachliche Vorbereitung</p>
    <p class="list">den idealen Job zu finden</p>
    <p class="list">Antrag auf Anerkennung des Berufes</p>
    <p class="list">Unterstützung bei der Wohnungssuche</p>
  </div>
  <p style="margin-bottom: 3em">
    Gerne erzählen wir Ihnen mehr über "Leben, Lernen und Arbeiten in
    Deutschland". Hier können Sie uns ganz einfach kontaktieren
    <a href="mailto:adnan.civic@alphamedical-bih.com">Kontakt</a> treten,
    schreiben Sie uns oder bewerben Sie sich <a href="/contact">hier</a>.
  </p>
  <p style="margin-bottom: 3em; text-transform: uppercase; color: #ffffba">
    Wir freuen uns auf Sie!
  </p>
  <p>Hallo vom -Alpha Medical team!</p>
</div>
<app-footer [title]="'Regular Title'"></app-footer>
