<app-jumbotron [title]="'Regular Title'"></app-jumbotron>
<div class="row">
  <div class="left">
    <img src="assets/images/result.png" alt="img" class="image" />
  </div>
  <div class="right">
    <div class="content">
      <h2 class="header">Über uns</h2>
      <h3>Adnan Civic</h3>
      <p>Gründer und CEO von Alpha Medical d.o.o.</p>

      <p>Abschluss an der juristischen Fakultät der Universität Tuzla.</p>
      <p>
        Herr Civic verfügt über umfangreiche Berufserfahrung in der
        medizinischen Personalbeschaffung für Arbeitgeber in Deutschland.
      </p>
      <p>
        Als Gründer von Alpha Medical d.o.o. ist er für die gesamte Organisation
        und alle Belange der Kandidaten vom ersten Kontakt bis zur
        Unterzeichnung der Arbeitsverträge in Deutschland verantwortlich.
      </p>
    </div>
  </div>
</div>

<div class="content2">
  <p class="moto">
    Lebensmotto: "Erfolg ist nicht der Schlüssel zum Glück, Zufriedenheit ist
    der Schlüssel zum Erfolg. Wenn Sie Ihre Arbeit lieben, werden Sie auch
    erfolgreich sein."
  </p>
  <div class="centered-container">
    <!-- slider -->
    <app-image-slider></app-image-slider>
  </div>
  <!-- /slider -->
  <div class="centered-container1">
    <!-- for us... -->
    <p>
      Für uns liegt der Schwerpunkt und die Idee nicht darin, einfach nur die
      Stelle zu besetzen. Vielmehr dienen wir als Unterstützung für die
      Kandidaten, um höchste Qualität mit Transparenz in jeder Phase der
      Entwicklung zu gewährleisten - für uns geht es um Vertrauen, Wachstum und
      Beständigkeit.
    </p>
  </div>
  <div class="row">
    <h2 class="unmotto">Unser Motto</h2>
    <div class="right">
      <div class="content">
        <p>
          Wir leisten einen aktiven Beitrag zur Linderung des Fachkräftemangels
          im Gesundheitswesen in Deutschland, indem wir qualifizierten
          Fachkräften aus dem Ausland helfen, einen kompetenten Arbeitsplatz in
          Deutschland zu finden und sie auf ihrem Weg zur Berufszulassung
          begleiten.
        </p>
      </div>
    </div>
    <h2 class="unmotto">Unser Auftrag</h2>
    <div class="right">
      <div class="content">
        <p>
          Menschen über internationale Grenzen und Kulturen hinweg miteinander
          zu verbinden.
        </p>
      </div>
    </div>
  </div>

  <!-- /for us... -->

  <div class="image-container">
    <img src="assets/images/nurse.jpg" alt="" />
  </div>

  <app-footer [title]="'Regular Title'"></app-footer>
</div>
