<app-jumbotron [title]="'Regular Title'"></app-jumbotron>
<div>
  <div class="container">
    <div>
      <h2 class="header">ABOUT US</h2>
      <p>
        Moje ime je Adnan Civic. Po struci sam diplomirani pravnik. Fakultet sam
        zavrsio 2018. godine na Pravnom fakuktetu Univerziteta u Tuzli.
        Posredovanjem u zpoasljavanju medicinskih sestara i tehnicara se bavim
        aktivno vec 4 godine. Kroz moj prethodni rad ostvario sam velike
        rezultate posredujuci preko 150 kandidata u razlicite pokrajine u
        Njemackoj.
      </p>
    </div>
    <img src="assets/images/aboutus.jpg" alt="img" class="image" />
  </div>
  <div class="centered-container">
    <!-- slider -->

    <h3>We Offer</h3>
    <p>Professional support from recruiting to on-boarding</p>
    <p>Breaking down language barriers</p>
    <p>When things get difficult: Coaching as a cultural conflict solver</p>
  </div>

  <app-image-slider></app-image-slider>

  <!-- /slider -->

  <div class="centered-container">
    <!-- for us... -->
    <p>
      For us, the mandate does not end with simply filling the position. Rather,
      we are also available for an intensive and continuous dialogue with
      customers and candidates in order to ensure the highest quality and
      transparency in every development phase - it's about trust, development
      and seniority.
    </p>
  </div>
  <!-- /for us... -->

  <img
    src="assets/images/medical-staff-hands-clasped-together-sitting-at-a-desk.jpg"
    alt=""
  />
  <h3 style="display: flex; justify-content: center">Our motto</h3>
  <div class="centered-container">
    <!-- our motto -->
    <p>
      Our motto We make an active contribution to combating the shortage of
      skilled workers in the German healthcare system by helping skilled workers
      from abroad to find a good employer here in Germany and accompanying them
      on their way to professional recognition.
    </p>
    <p>
      We speak languages ​​and our multicultural background shows that we also
      live our mission: to bring people together across national borders and
      cultures.
    </p>

    <app-footer [title]="'Regular Title'"></app-footer>
  </div>
</div>
