.container {
  display: flex;
  align-items: flex-start;
}

.header {
  margin-right: 10px;
}
p {
  text-align: justify;
  word-wrap: break-word;
  padding: 1em;
}
.image {
  flex-shrink: 0;
  width: 50%;
}

@-ms-viewport {
  width: device-width;
}
