<app-jumbotron [title]="'Regular Title'"></app-jumbotron>
<div>
  <div class="container">
    <div class="a">
      <h2 class="header">Über uns</h2>
      <p>Gründer und CEO von Alpha Medical d.o.o.</p>
      <p>Abschluss an der juristischen Fakultät der Universität Tuzla.</p>
      <p>
        Herr Civic verfügt über umfangreiche Berufserfahrung in der
        medizinischen Personalbeschaffung für Arbeitgeber in Deutschland.
      </p>
      <p>
        Als Gründer von Alpha Medical d.o.o. ist er für die gesamte Organisation
        und alle Belange der Kandidaten vom ersten Kontakt bis zur
        Unterzeichnung der Arbeitsverträge in Deutschland verantwortlich.
      </p>
    </div>
    <div class="b">
      <img src="assets/images/aprofile.png" alt="img" class="image" />
    </div>
  </div>
  <p class="moto">
    Lebensmotto: "Erfolg ist nicht der Schlüssel zum Glück, Zufriedenheit ist
    der Schlüssel zum Erfolg. Wenn Sie Ihre Arbeit lieben, werden Sie auch
    erfolgreich sein."
  </p>
  <div class="centered-container">
    <!-- slider -->
  </div>

  <app-image-slider></app-image-slider>

  <!-- /slider -->

  <div class="centered-container">
    <!-- for us... -->
    <p>
      Für uns endet das Mandat nicht mit der bloßen Besetzung der Stelle.
      Vielmehr stehen wir den Kandidaten als Unterstützung zur Verfügung, um in
      jeder Entwicklungsphase höchste Qualität und Transparenz zu gewährleisten
      -es geht um Vertrauen, Entwicklung und Betriebszugehörigkeit.
    </p>
  </div>
  <!-- /for us... -->
  <div class="image-container">
    <img src="assets/images/nurse.jpg" alt="" />
  </div>

  <div class="centered-container">
    <!-- our motto -->
    <h3 class="unmotto">Unser Motto</h3>
    <p>
      Wir leisten einen aktiven Beitrag zur Bekämpfung des Fachkräftemangels im
      deutschen Gesundheitswesen, indem wir Fachkräften aus dem Ausland helfen,
      einen guten Arbeitgeber in Deutschland zu finden und sie auf ihrem Weg zur
      beruflichen Anerkennung begleiten.
    </p>
  </div>
  <div class="centered-container">
    <h3 class="unmotto">Unser Auftrag</h3>
    <p>Menschen über Ländergrenzen und Kulturen hinweg zusammenzubringen.</p>
  </div>
  <app-footer [title]="'Regular Title'"></app-footer>
</div>
