.slider-container {
  position: relative;
  height: 324px;
  overflow: hidden;
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 3em;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 320px;
  background-size: cover;
  background-position: center;
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
  z-index: 0;
}

.slide.active {
  opacity: 1;
  z-index: 1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
}

.content {
  text-align: justify;
  color: #fff;
}
h3 {
  font-family: "plate gothic";
  font-size: 32px;
  line-height: 1.5;
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: uppercase;
}
p {
  font-size: 18px;
  text-align: justify;
  font-family: "Open Sans";
  font-weight: 300;
  display: list-item;
  list-style: circle;
  font-size: 20px;
  line-height: 1.5;
}
