<app-jumbotron [title]="'Regular Title'"></app-jumbotron>
<div style="max-width: 870px; margin: 0 auto; padding: 70px 10px">
  <h2 style="display: flex; justify-content: flex-start">KONTAKT</h2>
  <h3>Wir beraten Sie gerne. Nehmen Sie Kontakt mit uns auf.</h3>
  <form
    class="contact"
    method="POST"
    name="contactform"
    data-netlify="true"
    onsubmit="submit"
  >
    <div class="a">
      <input placeholder="Vorname" type="text" id="name" name="name" required />
    </div>
    <div class="b">
      <input
        placeholder="Nachname"
        type="text"
        id="lastname"
        name="lastname"
        required
      />
    </div>
    <div class="c">
      <input
        placeholder="Telefon"
        type="number"
        id="telefon"
        name="telefon"
        required
      />
    </div>
    <div class="d">
      <input
        placeholder="E-Mail"
        type="email"
        id="email"
        name="email"
        required
      />
    </div>
    <div class="e">
      <textarea
        placeholder="Nachricht"
        id="message"
        name="message"
        required
      ></textarea>
    </div>
    <div class="f">
      <label
        >Land:
        <select
          class="land"
          placeholder="Land"
          type="text"
          id="land"
          name="landn"
          required
        >
          <option value="1">Bosnien und Herzegowina</option>
          <option value="2">Serbien</option>
          <option value="3">Mazedonien</option>
        </select>
      </label>
    </div>
    <div class="uploadcontainer">
      <label class="upload">Datei wählen:</label>
      <form action="/api/upload" method="post" enctype="multipart/form-data">
        <input
          type="file"
          class="upload-file"
          id="inputGroupFile01"
          aria-describedby="inputGroupFileAddon01"
        />
      </form>
    </div>
    <div class="checkbox">
      <input class="box" type="checkbox" /><label
        >Ich stimme der Datenschutzerklärung zu.</label
      >
    </div>
    <button class="btn" type="submit">ABSENDEN</button>
  </form>
</div>

<app-footer [title]="'Regular Title'"></app-footer>
