h2 {
  text-align: center;
  font-family: -webkit-body;
  font-size: 30px;
  font-weight: lighter;
}
h3 {
  font-weight: lighter;
  margin-bottom: 3em;
}

.contact-form {
  max-width: 500px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: transparent;
  padding: 0.5rem 1rem;
  line-height: 1.5;
  font-family: "Open Sans";
  font-weight: 300;
  border-width: 1px;
  border-style: solid;
  border: #fff;
  border: 1px dotted #fff !important;
  border-radius: 0;
  box-sizing: border-box;
  display: block;
  height: 40px;
  width: 100%;
  font-size: 20px;
  color: #fff;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: none;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background: transparent;
  border: 1px dotted #fff !important;
}
@-ms-viewport {
  width: device-width;
}

form.contact {
  display: grid;
  grid-template-areas:
    "a b"
    "c d"
    "e e"
    "f f"
    "g g"
    "h h";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 200px;
  row-gap: 20px;
  column-gap: 20px;
  .a {
    grid-area: a;
    color: #fff;
  }
  .b {
    grid-area: b;
    color: #fff;
  }
  .c {
    grid-area: c;
    color: #fff;
  }
  .d {
    grid-area: d;
    color: #fff;
  }
  .e {
    grid-area: e;
    textarea {
      height: 200px;
      min-height: auto;
      color: #fff;
    }
  }
  .f {
    grid-area: f;
    color: #fff;
  }
  .g {
    grid-area: g;
    color: #fff;
    display: flex;
  }
  .h {
    grid-area: h;
    color: #fff;
    display: flex;
  }
  .upload-file {
    border: none !important;
    margin-top: 4em;
    margin-bottom: 1em;
    width: 300px;
    height: 40px;
    font-size: 13px;
  }
  .header {
    text-align: center;
  }
  .header h1 {
    font-family: serif;
    font-size: 38px;
    font-family: "Times New Roman";
  }

  .content {
    margin: 100px;
  }

  .margin25 {
    margin: 25px;
  }
  .upload {
    margin-top: 4em;
    align-items: left;
    font-family: arial;
    font-size: 16px;
  }
  .btn {
    color: #fff;
    width: 150px;
    font-size: 12px;
    border: 2px solid #faf4f4;
    padding: 12px 20px;
    padding: 12px 20px;
    background-color: #fffdfd1e !important;
    font-weight: 400;
    cursor: pointer;
    transition: color 0.4s linear;
    font-size: 16px;
  }
  .btn:hover {
    color: rgb(23, 168, 230) !important;
  }
  .accept {
    margin-bottom: 1em;
  }
  .box {
    width: 15px;
    margin-left: 0.5em;
  }
  .checkbox {
    display: flex;
  }
  label {
    margin-top: 1em;
    margin-left: 0.5em;
    margin-bottom: 2em;
  }
  .uploadcontainer {
    display: flex;
  }
  .land {
    font-size: 16px;
    margin-left: 1em;
    background-color: #fff;
  }
}
