<app-jumbotron [title]="'Regular Title'"></app-jumbotron>

<div class="container">
  <div class="a">
    <!--services-->
    <h2 class="header">DIENSTLEISTUNGEN</h2>
    <p>
      Die Beschäftigung internationaler Fachkräfte wertet das globale Image auf,
      erweitert das Netzwerk und baut internationale Beziehungen aus.
    </p>
  </div>
  <div class="b">
    <img
      src="assets/images/n9.jpg"
      alt="Logo"
      class="jumbotron"
      style="height: 300px; padding: 3em; height: 200px"
    />
  </div>
</div>
<div>
  <div class="container1">
    <div class="btn1">
      <button (click)="onclick()" type="button" class="btn">
        {{
          ReadMore
            ? ">> Internationale Rekrutierung von Pflegekräften"
            : ">> Internationale Rekrutierung von Pflegekräften"
        }}
      </button>
      <ng-container *ngIf="visible">
        <div class="text">
          <p>
            Das Geschäftsmodell ist natürlich im Kern nicht neu, was neu sein
            sollte, ist die Art der Umsetzung und der Qualitätsweg, den wir
            sowohl für Kunden als auch für Antragsteller gehen wollen.
          </p>

          <p>
            Die Suche nach qualifiziertem Fachpersonal erfordert Zeit und bindet
            personelle Ressourcen.
          </p>

          <p>
            Unsere Aufgabe ist es nicht nur, Sie mit Kandidaten und Kunden
            zusammenzubringen, sondern vor allem, die Kandidaten auf den Prozess
            der Integration in das neue Umfeld vorzubereiten und zu begleiten.
            Das sorgt für eine höhere Erfolgsquote und sichert die
            Nachhaltigkeit Ihrer Personalbesetzung.
          </p>
          <h2>Unser Dienstleistungsprozess für Sie</h2>
          <p>
            Alle Bewerber haben unser Screening bestanden. Unser Ziel ist es,
            mit Transparenz, Empathie und Professionalität auf die Bedürfnisse
            unserer Kunden einzugehen und die Fachkräfte auf ihrem Weg in ein
            neues Leben zu begleiten.
          </p>
          <p>
            Die größte Herausforderung sind die sprachlichen Anforderungen. Wir
            haben unsere eigenen Sprachtrainer, die unsere Kandidaten gezielt
            auf ein B1- oder B2-Niveau (Fachsprache) vorbereiten.
          </p>

          <p>
            Wir kümmern uns standardmäßig um alle schriftlichen und
            administrativen Angelegenheiten, von der Erstellung des Lebenslaufs
            über die Einreichung von Anträgen bis hin zur (beglaubigten)
            Übersetzung der Dokumente für die Anerkennung von Abschlüssen.
          </p>

          <p>
            Wir beraten jeden Kandidaten persönlich während des gesamten
            Prozesses und berichten darüber. Auf Wunsch führen wir ein
            interkulturelles Training zur Integration in Deutschland oder ein
            spezielles Fachsprachentraining durch.
          </p>
        </div>
      </ng-container>
      <!-- advantages -->
    </div>
  </div>

  <!-- /advantages -->

  <!-- /service process -->
  <!-- Recruitment -->

  <!-- International recruitment of specialists (working, learning and living in Germany)

<img src="assets/images/international-for-companies-page.jpeg" alt="International" /> -->

  <app-text-over-image
    imageUrl="assets/images/international-for-companies-page.jpeg"
    altText="International"
    heading="Internationale Anwerbung von Krankenpflegern"
    description="Arbeiten, lernen und leben in Deutschland"
  ></app-text-over-image>

  <app-footer [title]="'Regular Title'"></app-footer>
</div>
