<app-jumbotron [title]="'Regular Title'"></app-jumbotron>

<div class="container">
  <div class="a">
    <!--services-->
    <h2 class="header">DIENSTLEISTUNGEN</h2>
    <p>
      Die Beschäftigung internationaler Fachkräfte wertet das globale Image auf,
      erweitert das Netzwerk und baut internationale Beziehungen aus.
    </p>
  </div>
  <div class="b">
    <img
      src="assets/images/n9.jpg"
      alt="Logo"
      class="jumbotron"
      style="height: 300px; padding: 3em; height: 200px"
    />
  </div>
</div>
<div>
  <div class="container">
    <div>
      <!-- advantages -->
      <h2 class="transition">
        <a class="wv-link-elm active" href="/text" id=""
          ><i class="fa fa-chevron-right"></i> Internationale Rekrutierung von
          Pflegekräften</a
        >
      </h2>
    </div>
  </div>

  <!-- /advantages -->
  <div class="container">
    <div>
      <!-- service process -->
      <h4>Our service process for you</h4>
      <p>
        We take care of the pre-selection of candidates who have a qualification
        that makes professional recognition possible.
      </p>

      <p>
        All applicants have passed our screening. Our aim is to meet the needs
        of our customers with transparency, empathy and professionalism and to
        accompany the specialists on their way to a new life.
      </p>

      <p>
        We organize the interview (by phone/Skype and in person) as well as the
        transfer of the candidates to you.
      </p>

      <p>
        The biggest challenge is the language requirements. We have our own
        language coaches who specifically prepare our candidates for a B1 or B2
        level (technical language).
      </p>

      <p>
        As standard, we take care of all written and administrative matters from
        the preparation of the CV, the submission of applications, the
        (certified) translation of the documents for the recognition of degrees
        etc.
      </p>

      <p>
        We personally advise each candidate throughout the process and report on
        it. If desired, we carry out intercultural training for integration in
        Germany or special technical language training.
      </p>
    </div>
  </div>
  <!-- /service process -->
  <!-- Recruitment -->

  <!-- International recruitment of specialists (working, learning and living in Germany)

<img src="assets/images/international-for-companies-page.jpeg" alt="International" /> -->

  <app-text-over-image
    imageUrl="assets/images/international-for-companies-page.jpeg"
    altText="International"
    heading="International recruitment of specialists"
    description="Working, learning, and living in Germany"
  ></app-text-over-image>

  <app-footer [title]="'Regular Title'"></app-footer>
</div>
