<app-jumbotron [title]="'Regular Title'"></app-jumbotron>
<div class="container">
  <div class="a">
    <!--services-->
    <h2 class="header">DIENSTLEISTUNGEN</h2>
    <p>
      The employment of international specialists enhances the global image,
      expands the network and develops international relationships.
    </p>
  </div>
  <div class="b">
    <img
      src="assets/images/n9.jpg"
      alt="Logo"
      class="jumbotron"
      style="height: 300px; padding: 3em; height: 200px"
    />
  </div>
</div>
<div>
  <div class="container">
    <div>
      <!-- advantages -->
      <h2>Recruitment - INTERNATIONAL Nursing Recruitment</h2>
      <h4 class="header">What advantages do foreign skilled workers offer?</h4>

      <p>
        The employment of international specialists enhances the global image,
        expands the network and develops international relationships.
      </p>

      <p>
        The business model is of course not new in essence - neither the
        international recruitment of nursing staff, nor the permanent placement
        itself. What should be new, however, is the way of implementation and
        the quality path that we want to take for both customers and applicants.
      </p>

      <p>
        Under the heading "Working, learning and living in Germany" we place the
        applicant or candidate at the center of our efforts. With this
        conceptual approach, we aim to invite motivated, medically and nursingly
        trained specialists from abroad within the framework of the freedom of
        movement for workers, but also from third countries to Germany, to put
        them into qualified service here in cooperation with customers, to
        support them in obtaining their professional recognition to support all
        levels and to develop further at the highest possible professional
        level. These specialists should be permanently bound to our customers
        and our healthcare system through our distinct welcoming culture.
      </p>

      <p>
        The search for qualified specialists takes time and ties up human
        resources.
      </p>

      <p>
        Our task is not only to bring you together with the right candidates,
        but above all to prepare and accompany them for the process of
        integration into the new environment. This ensures a higher success rate
        and ensures the sustainability of your staffing.
      </p>
    </div>
  </div>

  <!-- /advantages -->
  <div class="container">
    <div>
      <!-- service process -->
      <h4>Our service process for you</h4>
      <p>
        We take care of the pre-selection of candidates who have a qualification
        that makes professional recognition possible.
      </p>

      <p>
        All applicants have passed our screening. Our aim is to meet the needs
        of our customers with transparency, empathy and professionalism and to
        accompany the specialists on their way to a new life.
      </p>

      <p>
        We organize the interview (by phone/Skype and in person) as well as the
        transfer of the candidates to you.
      </p>

      <p>
        The biggest challenge is the language requirements. We have our own
        language coaches who specifically prepare our candidates for a B1 or B2
        level (technical language).
      </p>

      <p>
        As standard, we take care of all written and administrative matters from
        the preparation of the CV, the submission of applications, the
        (certified) translation of the documents for the recognition of degrees
        etc.
      </p>

      <p>
        We personally advise each candidate throughout the process and report on
        it. If desired, we carry out intercultural training for integration in
        Germany or special technical language training.
      </p>
    </div>
  </div>
  <!-- /service process -->
  <!-- Recruitment -->

  <!-- International recruitment of specialists (working, learning and living in Germany)

<img src="assets/images/international-for-companies-page.jpeg" alt="International" /> -->

  <app-text-over-image
    imageUrl="assets/images/international-for-companies-page.jpeg"
    altText="International"
    heading="International recruitment of specialists"
    description="Working, learning, and living in Germany"
  ></app-text-over-image>

  <app-footer [title]="'Regular Title'"></app-footer>
</div>
