p {
  font-size: 16px;
  color: #fff;
  justify-content: center;
}
a {
  color: #ffffba;
}
.content {
  justify-content: center;
  text-wrap: wrap;
  padding-left: 6em;
  padding-right: 6em;
  padding-top: 1em;
  padding-bottom: 3em;
  text-align: justify;
}
h2 {
  color: #ffffba;
  font-weight: lighter;
}
h1 {
  color: #ffffba;
  font-weight: lighter;
}
