<div class="content">
  <h1>Privacy Policy</h1>
  <p>
    In dieser Datenschutzerklärung wird erläutert, wie wir die persönlichen
    Daten der Nutzer, die unsere Website besuchen, erfassen, verwenden und
    schützen. Durch die Nutzung unserer Website erklären Sie sich mit den in
    dieser Richtlinie beschriebenen Bedingungen einverstanden.
  </p>
  <h2>Erhebung und Nutzung von Informationen</h2>
  <p>
    Wir können personenbezogene Daten erfassen, die Sie freiwillig angeben, wenn
    Sie mit unserer Website interagieren, z. B. wenn Sie ein Kontaktformular
    ausfüllen, unseren Newsletter abonnieren oder einen Kauf tätigen. Zu den
    personenbezogenen Daten, die wir erfassen können, gehören Ihr Name, Ihre
    E-Mail-Adresse, Ihre Postanschrift und Ihre Zahlungsdaten.
  </p>
  <p>
    We use the collected information to communicate with you, process your
    requests, provide customer support, and improve our services. We may also
    use the information to send you promotional content and updates, but you can
    opt out of receiving such communications.
  </p>
  <h2>Schutz und Sicherheit von Daten</h2>
  <p>
    Wir ergreifen geeignete Maßnahmen, um die von uns erfassten persönlichen
    Daten vor unbefugtem Zugriff, Offenlegung, Änderung oder Zerstörung zu
    schützen. Allerdings ist keine Datenübertragung über das Internet oder
    elektronische Speichermethode völlig sicher, so dass wir keine absolute
    Sicherheit garantieren können.
  </p>
  <h2>Weitergabe von Informationen</h2>
  <p>
    Wir verkaufen, handeln oder übertragen Ihre persönlichen Daten nicht an
    Dritte ohne Ihre Zustimmung, außer unter den folgenden Umständen:
  </p>
  <p>
    Wir können Ihre Daten an vertrauenswürdige Dienstleister weitergeben, die
    uns beim Betrieb unserer Website, bei der Abwicklung unserer Geschäfte oder
    bei der Bereitstellung von Dienstleistungen für Sie unterstützen. Diese
    Drittparteien sind verpflichtet, die Vertraulichkeit Ihrer Daten zu wahren.
    Wir können Ihre Daten offenlegen, wenn dies gesetzlich vorgeschrieben ist
    oder um unsere Rechte, unser Eigentum oder unsere Sicherheit oder die
    Rechte, das Eigentum oder die Sicherheit anderer zu schützen. Im Falle einer
    Fusion, einer Übernahme oder eines Verkaufs aller oder eines Teils unserer
    Vermögenswerte können Ihre Daten an das übernehmende Unternehmen
    weitergegeben werden. Cookies und Tracking-Technologien
  </p>
  <p>
    Unsere Website kann Cookies und ähnliche Tracking-Technologien verwenden, um
    Ihr Surferlebnis zu verbessern und Informationen darüber zu sammeln, wie Sie
    unsere Website nutzen. Sie können Ihre Cookie-Präferenzen über Ihre
    Browser-Einstellungen verwalten.
  </p>
  <h2>Links zu Websites von Drittparteien</h2>
  <p>
    Unsere Website kann Links zu Websites Dritter enthalten, die ihre eigenen
    Datenschutzrichtlinien haben. Wir haben keine Kontrolle über und übernehmen
    keine Verantwortung für den Inhalt, die Datenschutzpraktiken oder die
    Handlungen dieser Websites. Wir empfehlen Ihnen, die Datenschutzrichtlinien
    der von Ihnen besuchten Websites Dritter zu prüfen.
  </p>
  <h2>Aktualisierungen der Datenschutzrichtlinie</h2>
  <p>
    Wir behalten uns das Recht vor, diese Datenschutzrichtlinie jederzeit zu
    aktualisieren oder zu ändern. Alle Änderungen werden mit der
    Veröffentlichung der überarbeiteten Richtlinie auf unserer Website wirksam.
    Wir empfehlen Ihnen, diese Seite regelmäßig auf die neuesten Informationen
    hin zu überprüfen.
  </p>
  <h2>Kontaktieren Sie uns</h2>
  <p>
    Wenn Sie Fragen oder Bedenken bezüglich dieser Datenschutzrichtlinie oder
    unserer Datenschutzpraktiken haben, kontaktieren Sie uns bitte unter
    <a href="/contact">KONTAKT</a>.
  </p>
</div>
<app-footer [title]="'Regular Title'"></app-footer>
