* {
  font-family: "Courier New", Courier, monospace;
}
#partner-section {
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
}

h2 {
  margin: 0 0 20px;
}

.content {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 20px;
  text-align: left;
  max-width: 100%;
}

.left-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-image {
  width: 100%;
  border-radius: 50%;
  overflow: hidden;
}

.profile-image img {
  display: block;
  width: 100%;
  height: auto;
}

.right-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

h3 {
  margin-top: 0;
}

.description {
  margin-top: 20px;
}

.contact {
  margin-top: 20px;
}

@media (max-width: 768px) {
  .content {
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
  }

  .left-section {
    justify-content: flex-start;
  }

  .right-section {
    text-align: center;
  }
}
