<div id="partner-section">
  <h2>Partner</h2>
  <div class="content">
    <div class="left-section">
      <div class="profile-image">
        <img
          src="https://cdn2.site-media.eu/images/220%2C1536x1572%2B0%2B140/5202598/Portrait_Rainer_Schrepfer_01_06_2019.jpg"
          alt="Rainer Schrepfer"
        />
      </div>
    </div>
    <div class="right-section">
      <h3>Rainer Schrepfer</h3>
      <div class="description">
        <p>Senior Associates</p>
        <p>
          Business development, international recruitment, MSP projects,
          qualification measures, data protection officer
        </p>
        <p>
          Mr. Schrepfer has over 20 years of experience as a business
          development manager and HR specialist in the aviation and medical
          sectors. He has been involved in aviation and healthcare for more than
          25 years. During his career, he has successfully filled various
          management positions in the areas of human resources, consulting,
          training and further education, and sales.
        </p>
      </div>
      <div class="contact">
        <p>Contact:</p>
        <p>rainer.schrepfer@ekpartner.de</p>
      </div>
    </div>
  </div>
</div>
