.profile-component {
    display: grid;
    max-width: 1200px;
    margin: 0 auto;
    grid-template-columns: 30% 1fr; /* 30% for image, 1fr for text */
    gap: 1rem; /* Gap between image and text */
    align-items: center; /* Center vertically */
}

.profile-image {
    width: 100%; /* Ensure image fills the grid cell */
}

.profile-image img {
    width: 100%; /* Make the image take up the full width of the cell */
    border-radius: 50%; /* Apply a circular border radius */
}

.profile-details {
    // display: grid;
    // gap: 0.5rem; /* Gap between text elements */
    // justify-self: start; /* Left-align the text */

    display: flex;
    flex-direction: column;
}

.profile-details h3,
.profile-details p {
    margin: 0; /* Remove default margin */
}

.profile-details .description {
    grid-column: span 2; /* Make the description span across both grid columns */
}

// .contact {
//     grid-column: 2; /* Align contact details to the right grid column */
// }
