<div class="container">
  <p>
    Das Geschäftsmodell ist natürlich im Kern nicht neu, was neu sein sollte,
    ist die Art der Umsetzung und der Qualitätsweg, den wir sowohl für Kunden
    als auch für Antragsteller gehen wollen.
  </p>

  <p>
    Unter der Überschrift "Arbeiten, Lernen und Leben in Deutschland" stellen
    wir den Bewerber oder Kandidaten in den Mittelpunkt unserer Bemühungen. Mit
    diesem konzeptionellen Ansatz verfolgen wir das Ziel, motivierte,
    medizinisch und pflegerisch ausgebildete Fachkräfte im Rahmen der
    Freizügigkeit nach Deutschland einzuladen, sie in Zusammenarbeit mit Kunden
    qualifiziert einzusetzen, sie bei der Erlangung ihrer beruflichen
    Anerkennung auf allen Ebenen zu unterstützen und sich auf höchstmöglichem
    fachlichen Niveau weiterzuentwickeln. Diese Fachkräfte sollen durch unsere
    Willkommenskultur dauerhaft an die Kunden und das deutsche Gesundheitssystem
    gebunden werden.
  </p>

  <p>
    Die Suche nach qualifiziertem Fachpersonal erfordert Zeit und bindet
    personelle Ressourcen.
  </p>

  <p>
    Unsere Aufgabe ist es nicht nur, Sie mit Kandidaten und Kunden
    zusammenzubringen, sondern vor allem, die Kandidaten auf den Prozess der
    Integration in das neue Umfeld vorzubereiten und zu begleiten. Das sorgt für
    eine höhere Erfolgsquote und sichert die Nachhaltigkeit Ihrer
    Personalbesetzung.
  </p>
</div>
