<nav>
  <div class="mobile-menu" (click)="toggleMobileMenu()">
    <div class="logo-burger-wrapper">
      <a [routerLink]="['/']" class="logo-link" (click)="toggleMobileMenu()">
        <img src="assets/images/logo_trans.png" alt="Logo" class="logo" />
      </a>
      <div class="burger-icon-wrapper">
        <div class="burger-icon">&#9776;</div>
      </div>
    </div>
  </div>
  <div class="nav-wrapper" [ngClass]="{ open: isMobileMenuOpen }">
    <div class="nav-links">
      <a routerLink="/" (click)="toggleMobileMenu()">Home</a>
      <a routerLink="/about-us" (click)="toggleMobileMenu()">About Us</a>
      <a routerLink="/profile" (click)="toggleMobileMenu()">Profile</a>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
