<nav>
  <div class="mobile-menu" (click)="toggleMobileMenu()">
    <div class="logo-burger-wrapper">
      <img src="assets/images/logo_trans.png" alt="Logo" class="logo" />
      <div class="burger-icon-wrapper">
        <div class="burger-icon">&#9776;</div>
      </div>
    </div>
  </div>
  <div class="nav-wrapper" [ngClass]="{ open: isMobileMenuOpen }">
    <div class="nav-links">
      <a routerLink="/">Home</a>
      <a routerLink="/profile">Profile</a>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
