nav {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background-color: #172a48;
  font-size: 20px;
}

.logo {
  width: 218px;
}

.logo-burger-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-link,
.nav-links a {
  color: white;
  text-decoration: none;
  margin-right: 1em; /* Add margin to space out the links */
}

.logo-link:hover,
.nav-links a:hover {
  color: #ccc;
}

.mobile-menu {
  display: none;
}

.burger-icon-wrapper {
  cursor: pointer;
}

.burger-icon {
  font-size: 2em;
  color: white;
  position: relative;
}

.nav-wrapper {
  position: absolute;
  top: 75px;
  left: 0;
  background-color: #172a48;
  width: 100%;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.1s ease-in-out;
}

.nav-links {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 1em;
  align-items: center; /* Align items to the center */
}

.nav-links a {
  text-decoration: none;
  color: white;
}

@media (max-width: 1268px) {
  .logo-burger-wrapper {
    width: 100%;
  }

  .mobile-menu {
    display: block;
  }

  .nav-wrapper.open {
    max-height: 1000px;
    display: block; /* Show nav-wrapper when open */
    position: inherit;
  }

  .nav-links {
    align-items: flex-start; /* Align items to the start */

    a {
      margin: 1.2em 0;
    }
  }
}

@media (min-width: 1269px) {
  .nav-wrapper {
    position: static;
    max-height: none;
    display: flex; /* Show nav-wrapper on larger screens */
  }

  .nav-links {
    flex-direction: row;
    // justify-content: space-around; /* Evenly distribute links */
    margin-left: auto;
  }

  .mobile-menu {
    display: none;
  }
}
@-ms-viewport {
  width: device-width;
}
.logo {
  width: 100px;
}
.logo-name {
  width: 200px;
  margin-top: 1em;
}
.logo-wrapper {
  display: inline-flex;
}
