/* navigation.component.css */
nav {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background-color: #172a48;
}

.logo-burger-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo-link,
.nav-links a {
  color: white; /* set the color of the top-level links to white */
  text-decoration: none;
}

.logo-link:hover,
.nav-links a:hover {
  color: #ccc; /* add a hover effect */
}

.mobile-menu {
  display: none;
  width: 100%;
}

.burger-icon-wrapper {
  cursor: pointer;
}

.burger-icon {
  font-size: 2em; /* adjust as necessary */
  color: white;
}

.nav-wrapper {
  position: absolute;
  top: 75px;
  left: 0;
  background-color: #172a48;
  width: 100%;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.1s ease-in-out;
  display: none; /* Hide nav-wrapper by default */
}

.nav-links {
  display: flex;
  flex-direction: column;
  padding: 1em;
  gap: 1em;
  text-align: center;
  background: orange;
}

.nav-links a {
  text-decoration: none;
  color: white;
}

@media (max-width: 768px) {
  .mobile-menu {
    display: block;
  }

  .nav-wrapper.open {
    max-height: 1000px;
    display: flex; /* Show nav-wrapper when open */
  }
}

@media (min-width: 769px) {
  .nav-wrapper {
    position: static;
    max-height: none;
    display: flex; /* Show nav-wrapper on larger screens */
  }

  .nav-links {
    flex-direction: row; /* Make the links horizontal on larger screens */
    gap: 2em;
    text-align: left;
  }

  .mobile-menu {
    display: none; /* Hide mobile menu on larger screens */
  }
}
