<div class="jumbotron-content">
  <ng-container *ngIf="title === 'For Applicants'; else defaultContent">
    <h2>{{ title }}</h2>
    <img
      src="assets/images/vacancies-jumbotron.jpg"
      alt="Hello Nurse"
      class="jumbotron"
    />
  </ng-container>

  <ng-template #defaultContent>
    <div class="video-container">
      <video
        src="assets/videos/jumbotron-video.mp4"
        controls="false"
        autoplay
        loop
      ></video>
      <div class="video-text">
        <h2 style="font-family: Suranna">
          STAFFING CHALLENGES IN THE HEALTHCARE SECTOR
        </h2>
        <h3 style="font-family: Josefin Sans Thin; font-style: normal">
          WITH US TO FIND SUITABLE STRATEGICAL AND OPERATIONAL SOLUTIONS FOR
          DEMAND PLANNING AND DEMAND COVERAGE DEMAND PLANNING AND DEMAND
          COVERING
        </h3>
      </div>
    </div>
    <!--<div class="image-container">
      <img src="assets/images/jumbotron.jpg" alt="Logo" />
      <div class="image-text">
        <h2 style="font-family: Suranna">
          STAFFING CHALLENGES IN THE HEALTHCARE SECTOR
        </h2>
        <h3 style="font-family: Josefin Sans Thin; font-style: normal">
          WITH US TO FIND SUITABLE STRATEGICAL AND OPERATIONAL SOLUTIONS FOR
          DEMAND PLANNING AND DEMAND COVERAGE DEMAND PLANNING AND DEMAND
          COVERING
        </h3>
      </div>
    </div>-->
  </ng-template>
  <app-text-over-video
    videoUrl="assets/videos/jumbotron-video.mp4"
    altText="home-jumbotron"
    heading="STAFFING CHALLENGES IN THE HEALTHCARE SECTOR"
    description="WITH US TO FIND SUITABLE STRATEGICAL AND OPERATIONAL SOLUTIONS FOR DEMAND PLANNING AND DEMAND COVERAGE DEMAND PLANNING AND DEMAND COVERING"
  ></app-text-over-video>
</div>
