<div class="jumbotron-content">
  <ng-container *ngIf="title === 'For Applicants'; else defaultContent">
    <div class="img-container">
      <img src="assets/images/alpha4.png" />
    </div>
  </ng-container>
  <ng-template #defaultContent>
    <div class="img-container">
      <img [src]="gifUrl" alt="gif" />
      <div class="img-text">
        <h1 style="font-family: Suranna; font-size: 32px">
          DER GESUNDHEITSSEKTOR UND SEINE HERAUSFORDERUNGEN IM PERSONALBEREICH
        </h1>
        <h3
          style="
            font-family: 'Times New Roman', Times, serif;
            font-weight: 100;
            font-display: center;
            font-size: 25px;
          "
        >
          FINDEN SIE MIT UNS DIE PASSENDE STELLE UND DEN GEWÜNSCHTEN EINSATZ
        </h3>
      </div>
    </div>
  </ng-template>
</div>
