/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    background: #172a48;
    color: white;
    font-family: Arial, Helvetica, sans-serif !important;
}
img {
    max-width: 100%;
}

