<app-jumbotron [title]="'Vacancies'"></app-jumbotron>
<div class="row">
  <div class="left">
    <img src="assets/images/nurse1.png" alt="img" class="image" />
  </div>
  <div class="right">
    <div class="content">
      <p>1. Gesundheits- und Krankenpfleger/in</p>
      <p>2. Gesundheits-und Kinderkrankenpflegerin</p>
      <p>3. Gesundheits-und Krankenpfleger/in Intensiv</p>
    </div>
  </div>

  <!-- <app-footer [title]="'Vacancies'"></app-footer> -->
</div>
<div class="gototop">
  <a class="gotopbtn" href="vacancies"><i class="fas fa-arrow-up"></i></a>
</div>
<app-footer [title]="'Regular Title'"></app-footer>
