<app-jumbotron [title]="'Vacancies'"></app-jumbotron>
<div class="centered-container">
  <div class="vacancies-section">
    <h2>VACANCIES</h2>
    <h3>Health Workers and Nurses or Surgical Assistants</h3>

    <h4>We Offer You:</h4>
    <ul>
      <li>A job in an innovative and modern workplace</li>
      <li>
        A comprehensive range of further education and training opportunities
      </li>
      <li>Individual support for external offers</li>
      <li>
        Tariff-based remuneration according to TV-L with all public service
        benefits
      </li>
      <li>Occupational health promotion</li>
      <li>Fixed working hours with work-life balance</li>
      <li>
        Opportunities to purchase a job ticket and use the company daycare
        center
      </li>
    </ul>

    <h4>We Wish from You:</h4>
    <ul>
      <li>Completed training as a nurse</li>
      <li>Reliability, resilience, and a high sense of responsibility</li>
      <li>Patient-centered approach in nursing action and thinking</li>
      <li>Assistance with outpatient examinations and interventions</li>
      <li>Assistance with surgical interventions</li>
      <li>Health and pediatric nurses (NRW)</li>
    </ul>

    <h4>We Offer You:</h4>
    <ul>
      <li>An activity in an innovative and modern workplace</li>
      <li>
        An extensive range of internal training and further education options
      </li>
      <li>Individual support with external offers</li>
      <li>
        Tariff-based remuneration according to TV-L with all public service
        benefits
      </li>
      <li>Occupational health promotion</li>
      <li>Secure, permanent employment contract</li>
      <li>
        Opportunities to purchase a job ticket and use the company daycare
        center
      </li>
    </ul>

    <h4>We Wish from You:</h4>
    <ul>
      <li>Completed training as a health and pediatric nurse</li>
      <li>
        Experience in emergency management or willingness to qualify in it
      </li>
      <li>Reliability, resilience, and a high sense of responsibility</li>
      <li>Patient-centered approach in nursing action and thinking</li>
      <li>
        Ability to work collaboratively with different professional groups
      </li>
      <li>Health workers and nurses (Bavaria)</li>
    </ul>

    <h4>We Offer You:</h4>
    <ul>
      <li>A job in an innovative and modern workplace</li>
      <li>An extensive range of further education and training options</li>
      <li>
        Tariff-based remuneration according to TV-L with all public service
        benefits
      </li>
      <li>Occupational health promotion</li>
      <li>Secure, permanent employment contract</li>
      <li>Flexible duty roster design with work-life balance</li>
      <li>
        Opportunities to purchase a job ticket and use the company daycare
        center
      </li>
    </ul>

    <h4>We Wish from You:</h4>
    <ul>
      <li>Completed training as a nurse or geriatric nurse</li>
      <li>Youth professionals are welcome</li>
      <li>Reliability, resilience, and a high sense of responsibility</li>
      <li>Patient-centered approach in nursing action and thinking</li>
      <li>Empathy and joy in dealing with complex care situations</li>
      <li>Experience in the geriatric field (optional)</li>
    </ul>
  </div>
</div>
<!-- <app-footer [title]="'Vacancies'"></app-footer> -->
<app-footer [title]="'Regular Title'"></app-footer>
