<app-jumbotron [title]="'Vacancies'"></app-jumbotron>
<div class="centered-container">
  <div class="vacancies-section">
    <h3>
      Gesundheits- und Krankenpflegepersonal oder chirurgische Assistenten
    </h3>

    <h4>Wir bieten Sie an:</h4>
    <ul>
      <li>Ein Arbeitsplatz in einem innovativen und modernen Unternehmen</li>
      <li>
        Ein umfassendes Angebot an Weiterbildungs- und Schulungsmöglichkeiten
      </li>
      <li>Feste Arbeitszeiten und Work-Life-Balance</li>
    </ul>

    <h4>Wir wünschen uns von Ihnen:</h4>
    <ul>
      <li>Abgeschlossene Ausbildung zur Krankenschwester</li>
      <li>
        Zuverlässigkeit, Belastbarkeit und ein hohes Verantwortungsbewusstsein
      </li>
      <li>Patientenzentrierter Ansatz im pflegerischen Handeln und Denken</li>
      <li>Unterstützung bei ambulanten Untersuchungen und Eingriffen</li>
      <li>Unterstützung bei chirurgischen Eingriffen</li>
    </ul>
  </div>
  <!-- <app-footer [title]="'Vacancies'"></app-footer> -->
  <app-footer [title]="'Regular Title'"></app-footer>
</div>
