<app-jumbotron [title]="'Regular Title'"></app-jumbotron>


<h2 style="text-transform: uppercase;">The Founding Team</h2>

<h2 style="text-transform: uppercase;">Managing Partners Arabic Countries</h2>

<app-profile
  name="Rainer Schrepfer"
  position="Senior Associates"
  contactEmail="rainer.schrepfer@ekpartner.de"
  [imageUrl]="'https://cdn2.site-media.eu/images/220%2C1536x1572%2B0%2B140/5202598/Portrait_Rainer_Schrepfer_01_06_2019.jpg'"
>
  <p>
    Mr. Schrepfer has over 20 years of experience as a business development manager and HR specialist in the aviation and medical sectors. He has been involved in aviation and healthcare for more than 25 years. During his career, he has successfully filled various management positions in the areas of human resources, consulting, training and further education, and sales.
  </p>
</app-profile>

<h2 style="text-transform: uppercase;">Partner</h2>

<app-profile
  name="Rainer Schrepfer"
  position="Senior Associates"
  contactEmail="rainer.schrepfer@ekpartner.de"
  [imageUrl]="'https://cdn2.site-media.eu/images/220%2C1536x1572%2B0%2B140/5202598/Portrait_Rainer_Schrepfer_01_06_2019.jpg'"
>
  <p>
    Mr. Schrepfer has over 20 years of experience as a business development manager and HR specialist in the aviation and medical sectors. He has been involved in aviation and healthcare for more than 25 years. During his career, he has successfully filled various management positions in the areas of human resources, consulting, training and further education, and sales.
  </p>
</app-profile>

<h2 style="text-transform: uppercase;">Back Office</h2>

<app-profile
  name="Rainer Schrepfer"
  position="Senior Associates"
  contactEmail="rainer.schrepfer@ekpartner.de"
  [imageUrl]="'https://cdn2.site-media.eu/images/220%2C1536x1572%2B0%2B140/5202598/Portrait_Rainer_Schrepfer_01_06_2019.jpg'"
>
  <p>
    Mr. Schrepfer has over 20 years of experience as a business development manager and HR specialist in the aviation and medical sectors. He has been involved in aviation and healthcare for more than 25 years. During his career, he has successfully filled various management positions in the areas of human resources, consulting, training and further education, and sales.
  </p>
</app-profile>

<h2 style="text-transform: uppercase;">Recruiting</h2>

<app-profile
  name="Rainer Schrepfer"
  position="Senior Associates"
  contactEmail="rainer.schrepfer@ekpartner.de"
  [imageUrl]="'https://cdn2.site-media.eu/images/220%2C1536x1572%2B0%2B140/5202598/Portrait_Rainer_Schrepfer_01_06_2019.jpg'"
>
  <p>
    Mr. Schrepfer has over 20 years of experience as a business development manager and HR specialist in the aviation and medical sectors. He has been involved in aviation and healthcare for more than 25 years. During his career, he has successfully filled various management positions in the areas of human resources, consulting, training and further education, and sales.
  </p>
</app-profile>


<h2 style="text-transform: uppercase;">LANGUAGE ACQUISITION AND TRAINING</h2>

<app-profile
  name="Rainer Schrepfer"
  position="Senior Associates"
  contactEmail="rainer.schrepfer@ekpartner.de"
  [imageUrl]="'https://cdn2.site-media.eu/images/220%2C1536x1572%2B0%2B140/5202598/Portrait_Rainer_Schrepfer_01_06_2019.jpg'"
>
  <p>
    Mr. Schrepfer has over 20 years of experience as a business development manager and HR specialist in the aviation and medical sectors. He has been involved in aviation and healthcare for more than 25 years. During his career, he has successfully filled various management positions in the areas of human resources, consulting, training and further education, and sales.
  </p>
</app-profile>

<app-footer [title]="'Regular Title'"></app-footer>