<div>
  <app-jumbotron [title]="'Regular Title'"></app-jumbotron>

  <div class="homemoto">
    <p
      style="
        font-size: 40px;
        padding-top: 1em;
        font-family: inherit;
        font-style: italic;
        font-family: Open Sans;
      "
    >
      "Das Schicksal mischt die Karten, wir spielen."
    </p>
  </div>
  <p style="padding: 0; text-align: center; color: grey">Arthur Schopenhauer</p>
  <div class="homepics">
    <div class="ed-element ed-container preset-boxen-akkordeon" id="ed-5185383">
      <div class="inner">
        <div class="ed-element ed-image left" id="ed-5185392">
          <div class="image-container">
            <a href="/about-us">
              <img
                style="width: 100%; height: 100%; object-fit: cover"
                alt=""
                src="assets/images/about-us-slider-2-we-offer-welcoming-culture.jpg"
                srcset="
                  assets/images/about-us-slider-2-we-offer-welcoming-culture.jpg 1x,
                  assets/images/about-us-slider-2-we-offer-welcoming-culture.jpg 2x
                "
              />
              <br />
              <span>
                <h2 style="text-align: center">Über uns</h2>
              </span>
            </a>
          </div>
        </div>
        <div class="ed-element ed-image left" id="ed-5185389">
          <a href="/services">
            <img
              style="width: 100%; height: 100%; object-fit: cover"
              alt=""
              src="assets/images/n1.jpg"
            />
            <br />
            <span>
              <h2 style="text-align: center">Dienstleistungen</h2>
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <app-footer [title]="'Regular Title'"></app-footer>
</div>
